



.react-international-phone-input {
  width: 225px;
  padding: 0.25rem; 
  border: 1px solid #ccc !important; 
  transition: all 0.2s ease;
}

.react-international-phone-input:focus-within {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 2px solid black !important;
  outline: none;
}

.react-international-phone-input-container{
  width: 100px !important;
  border: 1px solid rgba(0, 0,0, 0.1 ) !important;
}

.react-international-phone-country-selector-button__button-content{
  width: 50px !important;
 
}

.react-international-phone-country-selector-button__button-content:focus-within{
  border: 2px solid black !important;
}

.MuiTypography-root {
  height: auto !important;
  margin-bottom: 10px !important;

}

.MuiInputBase-input {
  padding: 10px !important;    
  
}