

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}
@import "tailwindcss";


.scroll::-webkit-scrollbar {
  width: 6px; /* Adjust thickness */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #fd5757; /* Scroll handle color */
  border-radius: 10px; /* Make it rounded */
}

.scroll::-webkit-scrollbar-track {
  background-color: #f3f3f3; /* Light background */
}
.myAccountTabs li a{position:relative

}

.myAccountTabs li a:before{content:''; width:2px; height: 100%;
   position: absolute; top:0px;left: 0px;  transition: all 0.3s ease-in-out; opacity: 0;}

   .myAccountTabs li a.active::before{height: 100%; opacity: 1; top:0px;}

   .myAccountTabs li a.active::after{
    color: #ff5252 !important ; background-color: #ff5252 !important;
   }
   .myAccountTabs li a.active button svg{
    color: #ff5252 !important; opacity: 1 !important;
   }


   /* button.MuiCircularProgress-root{
    width: 20px !important;
    height: 20px !important;
   } */